.today
{
    height: auto;
    padding:10px;
    background-color: #E6b0b5;
}

.seven
{
    height: auto;
    padding: 10px;
    background-color: #Ffe9ba;
}

.thirty
{
    height: auto;
    padding: 10px;
    background-color: #Afe2c2;
}

.year
{
    height: auto;
    padding: 10px;
    background-color: #Afe2c2;
}

.total
{
    height: auto;
    padding: 10px;
    background-color: #E6b0b5;
}

.users
{
    height: auto;
    padding: 10px; 
    background-color: #Ffe9ba;
}

